        <nav class="navbar navbar-light justify-content-center bg-light">
            <span class="navbar-brand mb-0 h1"></span>Eat Dem Burgers!!</span>
        </nav>
        <main class="container my-5">
            <div class="row">

                <div class="col-4 justify-content-center">
                    <div class="d-flex p2 mb-3 justify-content-center">
                        <h4>Ready to Eat!</h4>
                    </div>
                    <div class="d-flex justify-content-center">
                        <ul>
                        {{#each burgers}}
                            {{#unless devoured}}
                                {{> burgers/burger-block devoured=true}}
                                <button class="devour" data-id={{id}}>Devour</button>
                            {{/unless}}
                        {{/each}}
                        </ul>
                    </div>
                </div>

                <div class="col-4 justify-content-center">
                    <div class="d-flex my-3 p2 justify-content-center">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ2NC91fqf8FB8a0av62raKT_u3x_vi3eIgGw&usqp=CAU" 
                        class="img-fluid" alt="Burger Image">
                    </div>
                    <div class="d-flex p2 justify-content-center">
                        <h4>Lets make some burgers!</h4>
                    </div>
                    <div class="d-flex p2 justify-content-center">
                        <form class="create-burger">
                            <label for="burgername">Create a burger</label><br>
                            <input type="text" id="burgername" name="burgername">
                            <input type="submit" class="mr-2" value="Build It!">
                        </form>
                    </div>
                </div>

                <div class="col-4">
                    <div class="d-flex p2 mb-3 justify-content-center">
                        <h4>Burger's I've Eaten...</h4>
                    </div>
                    <div class="d-flex justify-content-center">
                        <ul>
                        {{#each burgers}}
                            {{#if devoured}}
                                {{> burgers/burger-block devoured=false}}
                            {{/if}}
                        {{/each}}
                    </ul>
                    </div>
                </div>
                
            </div>
        </main>